<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@latest/swiper-bundle.min.css" async />
<script src="https://cdn.jsdelivr.net/npm/swiper@latest/swiper-bundle.min.js" async></script>

<style>
   .swiper-button-next, .swiper-button-prev {
      color: #000;
      top: auto !important;
      height: 20px
   }
   .swiper-button-next::after, .swiper-button-prev::after {
      font-size: 20px;
   }
   .swiper-pagination{
      color: #000;
      bottom: 0 !important;
   } 
   .swiper-pagination-bullet-active{
      background: #000;
   }
</style>

<div class="product-gallery container mx-auto px-4 py-8">
  <div class="product--medias grid grid-cols-1 md:grid-cols-2 lg:grid-cols-2 gap-4">
      <div class="hidden md:block">
         {% for media in product.media %}
            <div class="product-media-item relative overflow-hidden rounded-lg shadow-lg h-full">
            <div class="aspect-w-1 aspect-h-1">
               {% render 'product-media', media: media %}
            </div>
            </div>
         {% endfor %}
      </div>
      <div class="md:hidden">
         <div class="swiper h-94">
            <div class="swiper-wrapper">
               {% for media in product.media %}
                  <div class="swiper-slide">
                     <div class="h-80 overflow-hidden p-2">
                        {% render 'product-media', media:media %}
                     </div>
                  </div>
               {% endfor %}
            </div>
            <div class="swiper-pagination"></div>
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
         </div>
      </div>
  </div>
  <div class="product--information">
   {% form 'product', product %}
      <div class="my-3">
         <span>{{ product.vendor }}</span>
         <div class="">
            <h1>{{ product.title }}</h1>
         </div>
         <div class="my-3">
            {% assign product_price = product.selected_or_first_available_variant %}
            <span class="line-through">{{ product_price.compare_at_price | money }}</span>
            <span>{{ product_price.price | money }}</span>
            {% if product_price.price < product_price.compare_at_price %}
               <span class="">Sale</span>
            {% endif %}
         </div>
         <div class="my-3">
            {% unless product.has_only_default_variant %}
               <div class="" data-url="{{ product.url }}" data-section="{{ section.id }}">
                  {% for option in product.options_with_values %}
                     <label for="option-{{ section.id }}-{{ forloop.index0 }}">{{ option.name }}</label>
                     <div class="my-2">
                        <select name="options[{{ option.name | escape }}]" id="option-{{ section.id }}-{{ forloop.index0 }}" class="w-full">
                           {% for value in option.values %}
                              <option {% if option.selected_value == value%}
                                 selected="selected"
                              {% endif %} value="{{ value | escape }}">{{ value }}</option>
                           {% endfor %}
                        </select>
                     </div>
                  {% endfor %}
               </div>
            {% endunless %}
         </div>

         <div class="my-3">
            <label for="quantity-{{ section.id }}">Quantity</label>
            <div class="my-2">
               <input type="number" name="quantity" id="quantity-{{ section.id }}" value="1" min="1">
            </div>
         </div>

         <div class="my-3">
            <p>{{ product.description }}</p>
         </div>

         <div class="my-3">
            <button type="submit" name="add" ></button>
         </div>
      </div>
   {% endform %}
  </div>
</div>

<script>
   const swiper = new Swiper ('.swiper', {
      direction: 'horizontal',
      pagination: {
         el: '.swiper-pagination'
      },
      navigation: {
         nextEl: '.swiper-button-next',
         prevEl: '.swiper-button-prev'
      }, 
   })
</script>